@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: var(--color-blue-500);
  --color-primary-light: var(--color-blue-400);
  --color-primary-dark: var(--color-blue-950);
}
